@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&family=Press+Start+2P&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  background-color: #201f29;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
}

header {
  color: white;
  max-width: 90%;
  margin: auto;
}

header h1 {
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
}

header img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 2.5rem;
}

.ui-button {
  cursor: pointer;
  color: white;
  border: 1px solid #2c7a7b;
  font-size: 0.9rem;
  border-radius: 0.4rem;
  padding: 0.5rem;
  background-color: #285e61;
}

.view-det {
  font-size: 1rem;
  background-color: #2c7a7b;
}

.expel-btn {
  background-color: #c53030;
  font-size: 1.5rem;
}

#hack-button {
  position: absolute;
  background-color: #c53030;
  font-size: 1rem;
  border-radius: 0 0 0.4rem 0.4rem;
  right: 4rem;
  -webkit-transition: -webkit-transform 325ms ease-in;
  transition: -webkit-transform 325ms ease-in;
  transition: transform 325ms ease-in;
  transition: transform 325ms ease-in, -webkit-transform 325ms ease-in;
}

#hack-button:focus {
  -webkit-transform: translateY(0);
          transform: translateY(0);
  background-color: #c53030;
}

#cant-expel {
  display: none;
  min-height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  /* Set up proportionate scaling */
  width: 100%;
  height: auto;
  /* Set up positioning */
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;
}

#cant-expel img {
  width: 70%;
  -o-object-fit: contain;
     object-fit: contain;
  -ms-grid-column-align: center;
      justify-self: center;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

#hacking-system {
  display: none;
  justify-items: center;
}

#hacking-system h1 {
  text-align: center;
  position: fixed;
  z-index: 1;
  background-color: #000;
  color: #16da00;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-area: 1 / 1 / 2 / 2;
  padding: 1rem;
  font-family: "Press Start 2P", cursive;
  bottom: 3rem;
}

#hacking-system img {
  min-height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  /* Set up proportionate scaling */
  width: 100%;
  height: auto;
  /* Set up positioning */
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
}

#features {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#search-filter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#sort-options {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  -ms-grid-rows: 0.5fr 0.5fr 1fr;
      grid-template-rows: 0.5fr 0.5fr 1fr;
  -webkit-column-gap: 1rem;
          column-gap: 1rem;
}

#sort-options p {
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: 1 / 1 /2 /3;
}

#houses-counter {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  -ms-grid-rows: auto 1fr 1fr;
      grid-template-rows: auto 1fr 1fr;
  gap: 1.5rem;
}

#houses-counter div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#houses-counter p {
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-area: 1 / 1 / 2 / -1;
}

#houses-counter span {
  margin-left: 0.2rem;
}

#student-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(275px, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(275px, 1fr));
  max-width: 90%;
  margin: auto;
}

.student-card {
  opacity: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 2rem;
  padding: 1rem;
  border: 2px solid #ffed86;
  border-radius: 14px;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  background-color: #524d4d;
  color: white;
}

.student-card h2 {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  text-align: center;
  font-size: 1.2rem;
}

.student-card .card-student-image {
  width: 7rem;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  margin: 0.5rem 0 1rem 0;
}

.fade-out {
  -webkit-transform: translateY(-65px);
          transform: translateY(-65px);
  opacity: 0;
  -webkit-transition: all 0.4s ease-out;
  transition: all 0.4s ease-out;
}

.student-symbols {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin: 1rem 0;
}

.student-symbols .umbridge {
  width: 3rem;
  -o-object-fit: cover;
     object-fit: cover;
}

.student-symbols img {
  width: 4rem;
  -o-object-fit: cover;
     object-fit: cover;
  margin-left: 0.5rem;
}

.student-symbols button {
  font-size: 2.5rem;
  background: none;
  border: none;
}

.grayscale {
  -webkit-filter: grayscale(100%);
          filter: grayscale(100%);
}

/* ****** STAR ****** */
[data-field="star"] {
  text-align: center;
  cursor: pointer;
  min-width: 2em;
}

/* The Modal (background) */
.modal {
  display: none;
  /* Hidden by default */
  position: fixed;
  /* Stay in place */
  z-index: 1;
  /* Sit on top */
  padding-top: 150px;
  /* Location of the box */
  left: 0;
  top: 0;
  width: 100%;
  /* Full width */
  height: 100%;
  /* Full height */
  overflow: auto;
  /* Enable scroll if needed */
  background-color: black;
  /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4);
  /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  position: relative;
  background-color: #fefefe;
  margin: auto;
  padding: 0;
  border: 1px solid #145d7e;
  max-width: 50%;
  -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
          box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  -webkit-animation-name: animatetop;
          animation-name: animatetop;
  -webkit-animation-duration: 0.4s;
          animation-duration: 0.4s;
  border-radius: 11px;
}

/* Add Animation */
@-webkit-keyframes animatetop {
  from {
    top: -300px;
    opacity: 0;
  }
  to {
    top: 0;
    opacity: 1;
  }
}

@keyframes animatetop {
  from {
    top: -300px;
    opacity: 0;
  }
  to {
    top: 0;
    opacity: 1;
  }
}

/* The Close Button */
.close {
  color: white;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.modal-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 2px 16px;
  background-color: #1a7fac;
  color: white;
  border-radius: 11px 11px 0 0;
}

/* ****** House colors ****** */
.gryffindor-color {
  background-color: #ae0001;
}

.hufflepuff-color {
  background-color: #ffdb00;
}

.ravenclaw-color {
  background-color: #222f5b;
}

.slytherin-color {
  background-color: #2a623d;
}

.gryffindor-border {
  border-color: #ae0001;
}

.hufflepuff-border {
  border-color: #ffdb00;
}

.ravenclaw-border {
  border-color: #222f5b;
}

.slytherin-border {
  border-color: #2a623d;
}

.modal-body {
  padding: 1rem;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  -ms-grid-row-align: stretch;
      align-self: stretch;
  gap: 0.5rem;
}

#detailed-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #524d4d;
  color: white;
}

#detailed-info #modal-images {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 1rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#detailed-info #modal-student-img {
  width: 10rem;
  margin-bottom: 0.5rem;
}

#detailed-info #modal-crest {
  width: 4.5rem;
}

@media screen and (max-width: 1160px) {
  .modal-content {
    max-width: 65%;
  }
}

@media screen and (max-width: 995px) {
  #features {
    display: -ms-grid;
    display: grid;
    -ms-grid-rows: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
  }
  #houses-counter {
    -ms-grid-columns: (1fr)[4];
        grid-template-columns: repeat(4, 1fr);
    -ms-grid-rows: auto 1fr;
        grid-template-rows: auto 1fr;
    -webkit-column-gap: 1.5rem;
            column-gap: 1.5rem;
    row-gap: 0.5rem;
  }
}

@media screen and (max-width: 860px) {
  .modal-content {
    max-width: 85%;
  }
}

@media screen and (max-width: 650px) {
  #features {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 1.5rem;
  }
  .modal {
    padding-top: 75px;
  }
  .modal-content {
    max-width: 75%;
  }
  #detailed-info {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  #detailed-info #modal-student-img {
    width: 100%;
  }
}

@media screen and (max-width: 520px) {
  #hacking-system h1 {
    font-size: 1.2rem;
  }
  #houses-counter {
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
    gap: 1.5rem;
  }
  .modal-body {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .modal-body button {
    width: 60%;
  }
  #modal-nick,
  #modal-status {
    margin-bottom: 1rem;
  }
}
/*# sourceMappingURL=style.css.map */