* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  background-color: #201f29;
}

button {
  cursor: pointer;
}

#student-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(275px, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(275px, 1fr));
  max-width: 90%;
  margin: auto;
}

.student-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 2rem;
  padding: 1rem;
  border: 2px solid #ffed86;
  border-radius: 14px;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  background-color: #524d4d;
  color: white;
}

.student-card h2 {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  text-align: center;
  font-size: 1.2rem;
}

.student-card .student-image {
  width: 7rem;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  margin: 0.5rem 0 1rem 0;
}

.student-symbols {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin: 1rem 0;
}

.student-symbols .umbridge {
  width: 3rem;
  -o-object-fit: cover;
     object-fit: cover;
}

.student-symbols img {
  width: 4rem;
  -o-object-fit: cover;
     object-fit: cover;
}

.student-symbols button {
  font-size: 3rem;
  background: none;
  border: none;
}

.dolores-gray {
  -webkit-filter: grayscale(100%);
          filter: grayscale(100%);
}

/* ****** STAR ****** */
[data-field="star"] {
  text-align: center;
  cursor: pointer;
  min-width: 2em;
}

/* The Modal (background) */
.modal {
  display: none;
  /* Hidden by default */
  position: fixed;
  /* Stay in place */
  z-index: 1;
  /* Sit on top */
  padding-top: 150px;
  /* Location of the box */
  left: 0;
  top: 0;
  width: 100%;
  /* Full width */
  height: 100%;
  /* Full height */
  overflow: auto;
  /* Enable scroll if needed */
  background-color: black;
  /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4);
  /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  position: relative;
  background-color: #fefefe;
  margin: auto;
  padding: 0;
  border: 1px solid #145d7e;
  max-width: 50%;
  -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
          box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  -webkit-animation-name: animatetop;
          animation-name: animatetop;
  -webkit-animation-duration: 0.4s;
          animation-duration: 0.4s;
  border-radius: 11px;
}

/* Add Animation */
@-webkit-keyframes animatetop {
  from {
    top: -300px;
    opacity: 0;
  }
  to {
    top: 0;
    opacity: 1;
  }
}

@keyframes animatetop {
  from {
    top: -300px;
    opacity: 0;
  }
  to {
    top: 0;
    opacity: 1;
  }
}

/* The Close Button */
.close {
  color: white;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.modal-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 2px 16px;
  background-color: #1a7fac;
  color: white;
  border-radius: 11px 11px 0 0;
}

/* ****** House colors ****** */
.gryffindor-color {
  background-color: #ae0001;
}

.hufflepuff-color {
  background-color: #ffdb00;
}

.ravenclaw-color {
  background-color: #222f5b;
}

.slytherin-color {
  background-color: #2a623d;
}

.modal-body {
  padding: 1rem;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  -ms-grid-row-align: stretch;
      align-self: stretch;
  gap: 0.5rem;
}

#detailed-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #524d4d;
  color: white;
}

#detailed-info #modal-images {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 1rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#detailed-info #modal-student-img {
  width: 10rem;
  margin-bottom: 0.5rem;
}

#detailed-info #modal-crest {
  width: 4rem;
}

@media screen and (max-width: 1160px) {
  .modal-content {
    max-width: 65%;
  }
}

@media screen and (max-width: 860px) {
  .modal-content {
    max-width: 85%;
  }
}

@media screen and (max-width: 650px) {
  .modal {
    padding-top: 75px;
  }
  .modal-content {
    max-width: 75%;
  }
  #detailed-info {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  #detailed-info #modal-student-img {
    width: 100%;
  }
}

@media screen and (max-width: 520px) {
  .modal-body {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .modal-body button {
    width: 60%;
  }
  #modal-nick,
  #modal-status {
    margin-bottom: 1rem;
  }
}
/*# sourceMappingURL=style.css.map */