* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #201f29;
}

button {
  cursor: pointer;
}

// #sorting th.sortby[data-sort-direction="asc"]::after {
//   content: "⇓";
// }

// #sorting th.sortby[data-sort-direction="desc"]::after {
//   content: "⇑";
// }

// img {
// width: 4vw;
// object-fit: cover;
// }

#student-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(275px, 1fr));
  max-width: 90%;
  margin: auto;
}

.student-card {
  display: flex;
  flex-direction: column;
  margin: 2rem;
  padding: 1rem;
  border: 2px solid #ffed86;
  border-radius: 14px;
  justify-content: space-around;
  background-color: #524d4d;
  color: white;

  h2 {
    align-self: center;
    text-align: center;
    font-size: 1.2rem;
  }
  .student-image {
    width: 7rem;
    align-self: center;
    margin: 0.5rem 0 1rem 0;
  }
}

.student-symbols {
  display: flex;
  justify-content: space-around;
  margin: 1rem 0;
  .umbridge {
    width: 3rem;
    object-fit: cover;
  }

  img {
    width: 4rem;
    object-fit: cover;
  }

  button {
    font-size: 3rem;
    background: none;
    border: none;
  }
}

.dolores-gray {
  filter: grayscale(100%);
}

/* ****** STAR ****** */

[data-field="star"] {
  text-align: center;
  cursor: pointer;
  min-width: 2em;
}

// modal
/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 150px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  position: relative;
  background-color: #fefefe;
  margin: auto;
  padding: 0;
  border: 1px solid #145d7e;
  max-width: 50%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  animation-name: animatetop;
  animation-duration: 0.4s;
  border-radius: 11px;
}

/* Add Animation */
@-webkit-keyframes animatetop {
  from {
    top: -300px;
    opacity: 0;
  }
  to {
    top: 0;
    opacity: 1;
  }
}

@keyframes animatetop {
  from {
    top: -300px;
    opacity: 0;
  }
  to {
    top: 0;
    opacity: 1;
  }
}

/* The Close Button */
.close {
  color: white;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.modal-header {
  display: flex;
  justify-content: space-between;
  padding: 2px 16px;
  background-color: #1a7fac;
  color: white;
  border-radius: 11px 11px 0 0;
}

/* ****** House colors ****** */
.gryffindor-color {
  background-color: #ae0001;
}

.hufflepuff-color {
  background-color: #ffdb00;
}

.ravenclaw-color {
  background-color: #222f5b;
}

.slytherin-color {
  background-color: #2a623d;
}

.modal-body {
  padding: 1rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-self: stretch;
  gap: 0.5rem;
}

#detailed-info {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  background-color: #524d4d;
  color: white;

  #modal-images {
    display: flex;
    flex-direction: column;
    padding: 1rem;
    align-items: center;
  }

  #modal-student-img {
    width: 10rem;
    margin-bottom: 0.5rem;
  }

  #modal-crest {
    width: 4rem;
  }
}

@media screen and (max-width: 1160px) {
  .modal-content {
    max-width: 65%;
  }
}

@media screen and (max-width: 860px) {
  .modal-content {
    max-width: 85%;
  }
}

@media screen and (max-width: 650px) {
  .modal {
    padding-top: 75px;
  }

  .modal-content {
    max-width: 75%;
  }

  #detailed-info {
    flex-direction: column;
    #modal-student-img {
      width: 100%;
    }
  }
}

@media screen and (max-width: 520px) {
  .modal-body {
    display: flex;
    flex-direction: column;
    align-items: center;

    button {
      width: 60%;
    }
  }

  #modal-nick,
  #modal-status {
    margin-bottom: 1rem;
  }
}
