@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&family=Press+Start+2P&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #201f29;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
}

button:hover {
  cursor: pointer;
}

header {
  h1 {
    font-family: "Open Sans", sans-serif;
    font-weight: 700;
    padding-top: 1rem;
    margin-bottom: 2rem;
  }

  color: white;
  max-width: 90%;
  margin: auto;

  img {
    object-fit: cover;
    width: 2.5rem;
  }
}

#show-buttons {
  display: flex;
  gap: 1rem;
  margin-top: 2rem;
}

.ui-button {
  color: white;
  border: 1px solid #2c7a7b;
  font-size: 0.9rem;
  border-radius: 0.4rem;
  padding: 0.5rem;
  background-color: #285e61;
}

// #sorting th.sortby[data-sort-direction="asc"]::after {
//   content: "⇓";
// }

// #sorting th.sortby[data-sort-direction="desc"]::after {
//   content: "⇑";
// }

// img {
// width: 4vw;
// object-fit: cover;
// }

.view-det {
  font-size: 1rem;
  background-color: #2c7a7b;
}

.expel-btn {
  background-color: #c53030;
  font-size: 1.5rem;
}

#hack-button {
  position: absolute;
  background-color: #c53030;
  font-size: 1rem;
  transform: translateY(-120%);
  border-radius: 0 0 0.4rem 0.4rem;
  right: 4rem;
  transition: transform 325ms ease-in;
}

#hack-button:focus {
  transform: translateY(0);
  background-color: #c53030;
}

#cant-expel,
#cant-squad {
  display: none;

  min-height: 100%;
  object-fit: cover;
  /* Set up proportionate scaling */
  width: 100%;
  height: auto;

  /* Set up positioning */
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;

  img {
    width: 50%;
    object-fit: contain;
    justify-self: center;
    align-self: center;
  }
}

#hacking-system {
  display: none;
  justify-items: center;

  h1 {
    text-align: center;
    position: fixed;
    z-index: 1;
    background-color: #000;
    color: #16da00;
    grid-area: 1 / 1 / 2 / 2;
    padding: 1rem;
    font-family: "Press Start 2P", cursive;
    bottom: 3rem;
  }
  img {
    min-height: 100%;
    object-fit: cover;
    /* Set up proportionate scaling */
    width: 100%;
    height: auto;

    /* Set up positioning */
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
  }
}

#features {
  display: flex;
  justify-content: space-between;
}

#search-filter {
  display: flex;
  flex-direction: column;
  gap: 1rem;

  select {
    width: fit-content;
  }
}

#sort-options {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 0.3fr 0.3fr 1fr;
  column-gap: 2rem;

  p {
    grid-area: 1 / 1 /2 /3;
  }
}

#houses-counter {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto 1fr 1fr;
  gap: 1.5rem;

  div {
    display: flex;
    align-items: center;
  }

  p {
    grid-area: 1 / 1 / 2 / -1;
  }

  span {
    margin-left: 0.2rem;
  }
}

#student-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(275px, 1fr));
  max-width: 90%;
  margin: auto;
}

.student-card {
  opacity: 1;
  display: flex;
  flex-direction: column;
  margin: 2rem;
  padding: 1rem;
  border: 2px solid #ffed86;
  border-radius: 14px;
  justify-content: space-around;
  background-color: #524d4d;
  color: white;

  h2 {
    align-self: center;
    text-align: center;
    font-size: 1.2rem;
  }
  .card-student-image {
    width: 7rem;
    align-self: center;
    margin: 0.5rem 0 1rem 0;
  }
}

.fade-out {
  transform: translateY(-65px);
  opacity: 0;
  transition: all 0.4s ease-out;
}

.student-symbols {
  display: flex;
  justify-content: space-around;
  margin: 1rem 0;
  .umbridge {
    width: 3rem;
    object-fit: cover;
  }

  img {
    width: 4rem;
    object-fit: cover;
    margin-left: 0.5rem;
  }

  button {
    font-size: 2.5rem;
    background: none;
    border: none;
  }
}

.grayscale {
  filter: grayscale(100%);
}

/* ****** STAR ****** */

[data-field="star"] {
  text-align: center;
  cursor: pointer;
  min-width: 2em;
}

// modal
/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 150px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  position: relative;
  background-color: #fefefe;
  margin: auto;
  padding: 0;
  border: 1px solid #145d7e;
  max-width: 50%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  animation-name: animatetop;
  animation-duration: 0.4s;
  border-radius: 11px;
}

/* Add Animation */
@-webkit-keyframes animatetop {
  from {
    top: -300px;
    opacity: 0;
  }
  to {
    top: 0;
    opacity: 1;
  }
}

@keyframes animatetop {
  from {
    top: -300px;
    opacity: 0;
  }
  to {
    top: 0;
    opacity: 1;
  }
}

/* The Close Button */
.close {
  color: white;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.modal-header {
  display: flex;
  justify-content: space-between;
  padding: 2px 16px;
  background-color: #1a7fac;
  color: white;
  border-radius: 11px 11px 0 0;
}

/* ****** House colors ****** */
.gryffindor-color {
  background-color: #ae0001;
}

.hufflepuff-color {
  background-color: #ffdb00;
}

.ravenclaw-color {
  background-color: #222f5b;
}

.slytherin-color {
  background-color: #2a623d;
}

.gryffindor-border {
  border-color: #ae0001;
}

.hufflepuff-border {
  border-color: #ffdb00;
}

.ravenclaw-border {
  border-color: #475eaa;
}

.slytherin-border {
  border-color: #429b60;
}

.modal-body {
  padding: 1rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-self: stretch;
  gap: 0.5rem;
}

#detailed-info {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  background-color: #524d4d;
  color: white;

  #modal-images {
    display: flex;
    flex-direction: column;
    padding: 1rem;
    align-items: center;
  }

  #modal-student-img {
    width: 10rem;
    margin-bottom: 0.5rem;
  }

  #modal-crest {
    width: 4.5rem;
  }
}

#customModal {
  .modal-header {
    background-color: #c53030;
  }

  #detailed-info {
    padding: 1rem;
  }
}

@media screen and (max-width: 1160px) {
  .modal-content {
    max-width: 65%;
  }

  #cant-expel,
  #cant-squad {
    img {
      width: 70%;
    }
  }
}

@media screen and (max-width: 995px) {
  #cant-expel,
  #cant-squad {
    img {
      width: 80%;
    }
  }

  #features {
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    row-gap: 2rem;
  }

  #houses-counter {
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: auto 1fr;
    column-gap: 1.5rem;
    row-gap: 0.5rem;
  }
}

@media screen and (max-width: 860px) {
  .modal-content {
    max-width: 85%;
  }
}

@media screen and (max-width: 650px) {
  #cant-expel,
  #cant-squad {
    img {
      width: 100%;
    }
  }

  header {
    h1 {
      font-size: 1.6rem;
    }
  }

  #show-buttons {
    justify-content: center;
  }

  #features {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;
  }

  .modal {
    padding-top: 75px;
  }

  .modal-content {
    max-width: 75%;
  }

  #detailed-info {
    flex-direction: column;
    #modal-student-img {
      width: 100%;
    }
  }
}

@media screen and (max-width: 520px) {
  #hacking-system {
    h1 {
      font-size: 1.2rem;
    }
  }

  #houses-counter {
    grid-template-columns: repeat(2, 1fr);
    gap: 1.5rem;
  }

  .modal-body {
    display: flex;
    flex-direction: column;
    align-items: center;

    button {
      width: 60%;
    }
  }

  #modal-nick,
  #modal-status {
    margin-bottom: 1rem;
  }
}
